*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0 auto !important;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label,
textarea,
input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  font-variant-ligatures: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  text-decoration-skip-ink: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.modal {
  font-family: "Inter";
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: #292929;
}

.modal.is-open {
  display: flex;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1200px;
  position: relative;
  margin: auto;
}
@media (max-width: 1279px) {
  .modal__container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .modal__container {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding: 40px;
}
@media (max-width: 767px) {
  .modal__content {
    padding: 26px;
  }
}
.modal__content .link {
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  transition: all 0.3;
  color: #4c535b;
}
.modal__content .link:hover {
  text-decoration-color: transparent;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  top: 50px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='0.493202' y1='0.646447' x2='12.4932' y2='12.6464' stroke='%230F0F0F'/%3e%3cline x1='13.1904' y1='1.37476' x2='0.470533' y2='12.6089' stroke='%230F0F0F'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 44px;
}
.modal__close svg {
  pointer-events: none;
}
.modal__close:hover {
  opacity: 0.75;
}

.modal__content {
  border-radius: 9px;
}
.modal__content .scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  margin-right: 12px;
}
.modal__content .scroll::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}
.modal__content .scroll::-webkit-scrollbar-thumb {
  background: rgb(78, 84, 87);
  border-radius: 10px;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

#popup-review .modal__container {
  max-width: 769px;
}
@media (max-width: 1439px) {
  #popup-review .modal__container {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  #popup-review .modal__container {
    max-width: 95%;
  }
}

.popup-review-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 767px) {
  .popup-review-content {
    font-size: 14px;
    line-height: 20px;
  }
}
.popup-review-content .popup-review-content__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  .popup-review-content .popup-review-content__name {
    font-size: 20px;
    line-height: 24px;
  }
}
.popup-review-content .picture-block {
  width: 334px;
  height: 472px;
  margin: 0 auto;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
}
@media (max-width: 767px) {
  .popup-review-content .picture-block {
    padding-top: 137.5%;
    height: auto;
    width: 100%;
  }
}

#popup-send .modal__container {
  max-width: 696px;
}
@media (max-width: 1439px) {
  #popup-send .modal__container {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  #popup-send .modal__container {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  #popup-send .modal__content {
    padding: 45px 15px 20px;
  }
}

.popup-send .popup-send__title {
  display: block;
  text-align: center;
  margin-bottom: 43px;
  font-weight: 600;
}
@media (max-width: 1439px) {
  .popup-send .popup-send__title {
    margin-bottom: 30px;
  }
}
.popup-send .input-item input {
  border-bottom: solid 1px rgb(78, 84, 87);
  border-radius: 0;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1439px) {
  .popup-send .input-item input {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .popup-send .input-item input {
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px;
  }
}
.popup-send .popup-send__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 38px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}
@media (max-width: 1439px) {
  .popup-send .popup-send__text {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.popup-send .check-block label::before {
  border: solid 1px rgb(78, 84, 87);
}
.popup-send .check-block label::after {
  border: solid 1px rgb(78, 84, 87);
}
.popup-send .btn {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 100%;
  max-width: 463px;
}

#popup-thank .modal__container {
  max-width: 696px;
}
@media (max-width: 1439px) {
  #popup-thank .modal__container {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  #popup-thank .modal__container {
    max-width: 95%;
  }
}
@media (max-width: 767px) {
  #popup-thank .modal__content {
    padding: 20px 15px 20px;
  }
}

.popup-thank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
}
@media (max-width: 767px) {
  .popup-thank {
    gap: 16px;
  }
}
.popup-thank .btn {
  border-radius: 50%;
  padding: 0;
  width: 51px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  pointer-events: none;
}

body {
  font-family: "Inter";
  background-color: rgb(255, 255, 255);
  color: rgb(78, 84, 87);
  font-size: 20px;
  line-height: 120%;
  font-weight: 400;
  font-variant-ligatures: none;
}
body.modal-open, body.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 12.5px;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1279px) {
  .container {
    max-width: 1080px;
    padding: 0 20px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 6px;
    padding-right: 6px;
  }
}

label,
textarea,
input {
  font-family: "Inter";
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.site-wrapper footer,
.site-wrapper .footer {
  margin-top: auto;
}

.logo {
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
  width: 133px;
  min-width: 133px;
  height: 27px;
  position: relative;
  z-index: 1;
}
.logo > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
}
@media (max-width: 1439px) {
  .logo {
    width: 184px;
    height: 46px;
  }
}
@media (max-width: 1279px) {
  .logo {
    width: 270px;
    height: 51px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 78px;
    min-width: initial;
  }
}
@media (hover: hover) {
  .logo:hover:hover {
    transform: scale(0.95);
  }
}
.logo picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

picture {
  position: relative;
  display: block;
}
picture img {
  position: relative;
}

.picture-block {
  position: relative;
}
.picture-block picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.picture-block picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 80px 0;
}
@media (max-width: 1439px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 1279px) {
  section {
    padding: 40px 0;
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;
  height: 50px;
}
.selectric-wrapper.selectric-hover .selectric {
  border-color: rgb(78, 84, 87);
}
.selectric-wrapper.selectric-open .selectric {
  border-color: rgb(78, 84, 87);
}
.selectric-wrapper.selectric-open .selectric .button {
  transform: scale(1, -1);
}
.selectric-wrapper.selectric-above .selectric-items {
  border: solid 1px rgb(78, 84, 87);
}
@media (max-width: 1439px) {
  .selectric-wrapper {
    height: 30px;
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
@media (max-width: 1439px) {
  .selectric {
    height: 30px;
  }
}
.selectric .label {
  font-weight: 400;
  height: 100%;
  padding: 10px 0;
  font-weight: 400;
  font-family: "Inter";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  margin: 0;
  color: rgb(78, 84, 87);
  border-bottom: solid 1px rgb(159, 159, 159);
}
@media (max-width: 1439px) {
  .selectric .label {
    padding: 0;
    font-size: 12px;
  }
}
.selectric .button {
  display: none;
  width: 24px;
  height: 24px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 1L7.5 7L13.5 1' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transition: all 0.3s;
  top: 50%;
  right: 24px;
  margin-top: -12px;
}
.selectric .button::after {
  display: none;
}

.selectric-items {
  background: transparent;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(98, 97, 97, 0.25);
  border-top: 0;
  overflow: hidden;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
}
.selectric-scroll ul {
  padding-top: 5px;
}
.selectric-scroll ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #7b7b7b;
  padding: 8px;
  transition: all 0.3s;
}
.selectric-scroll ul li.highlighted, .selectric-scroll ul li.selected {
  background: transparent !important;
  text-decoration: underline;
  color: rgb(78, 84, 87);
}
.selectric-scroll ul li:hover {
  background: transparent !important;
  color: rgb(78, 84, 87);
}

.selectric-open {
  z-index: 4;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 16px;
  height: 1px;
  opacity: 1;
  border-radius: 0;
  margin: 0 !important;
  flex: 1;
  position: relative;
  transition: all 0.3s;
  background-color: rgba(15, 15, 15, 0.2);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: rgb(78, 84, 87);
}

.burger {
  cursor: pointer;
  display: none;
  width: 24px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
  transition: transform 0.3s;
  pointer-events: none;
}
@media (max-width: 767px) {
  .burger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    pointer-events: initial;
  }
}
.burger-line {
  width: 100%;
  height: 1px;
  background-color: rgb(78, 84, 87);
  transition: all 0.3s;
}
.burger.opened .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}
.burger.opened .burger-line:nth-child(2) {
  width: 0;
}
.burger.opened .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

.swiper-controls {
  position: relative;
  display: flex;
  gap: 20px;
}

.swiperBtnPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  min-width: 46px;
  transition: all 0.3s;
  transform: rotate(-180deg);
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 24.3333H47.6667M47.6667 24.3333L24.3333 1M47.6667 24.3333L24.3333 47.6667' stroke='%230F0F0F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
@media (max-width: 767px) {
  .swiperBtnPrev {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
}
.swiperBtnPrev:hover {
  transform: rotate(-180deg) scale(0.9);
}

.swiperBtnNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 46px;
  height: 46px;
  min-width: 46px;
  transition: all 0.3s;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 24.3333H47.6667M47.6667 24.3333L24.3333 1M47.6667 24.3333L24.3333 47.6667' stroke='%230F0F0F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
@media (max-width: 767px) {
  .swiperBtnNext {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }
}
.swiperBtnNext:hover {
  transform: scale(0.9);
}

.input-item {
  width: 100%;
}
.input-item + .input-item {
  margin-top: 20px;
}
.input-item input {
  width: 100%;
  height: 44px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  border: 0;
  font-size: 14px;
  padding: 0 16px;
}
.input-item textarea {
  width: 100%;
  height: 112px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  border: 0;
  padding: 12px 16px;
}

.check-block input {
  display: none;
}
.check-block input:checked + label {
  text-decoration-color: rgb(78, 84, 87);
  color: rgb(78, 84, 87);
}
.check-block input:checked + label::after {
  opacity: 1;
}
.check-block + .check-block {
  margin-top: 8px;
}
@media (max-width: 1279px) {
  .check-block + .check-block {
    margin-top: 0px;
  }
}
.check-block label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  position: relative;
  padding-left: 24px;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
  display: block;
  align-items: center;
  gap: 8px;
  min-height: 45px;
  padding-left: 45px;
}
.check-block label a {
  text-decoration: underline;
}
@media (max-width: 1279px) {
  .check-block label {
    font-size: 12px;
    min-height: 30px;
  }
}
@media (max-width: 767px) {
  .check-block label {
    padding-left: 38px;
  }
}
.check-block label::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
}
.check-block label::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 50%;
  width: 25px;
  height: 25px;
  opacity: 0;
  border-radius: 2px;
  overflow: hidden;
  transform: translateY(-50%);
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.00284094 6.60178L1.69318 4.89014L5.13778 8.27792L12.5881 0.856045L14.2926 2.56769L5.13778 11.687L0.00284094 6.60178Z' fill='%23F94242'/%3e%3cpath d='M0.00284094 6.60178L1.69318 4.89014L5.13778 8.27792L12.5881 0.856045L14.2926 2.56769L5.13778 11.687L0.00284094 6.60178Z' fill='%23F94242'/%3e%3cpath d='M0.00284094 6.60178L1.69318 4.89014L5.13778 8.27792L12.5881 0.856045L14.2926 2.56769L5.13778 11.687L0.00284094 6.60178Z' fill='%230F0F0F'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
}

.radio-block {
  position: relative;
}
.radio-block label {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  padding-left: 17px;
  cursor: pointer;
}
.radio-block label::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: -10px;
  top: 2px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: solid 1px rgb(78, 84, 87);
}
@media (max-width: 1439px) {
  .radio-block label::before {
    top: 0;
  }
}
.radio-block label::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: -7px;
  top: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fa4f19;
  opacity: 0;
}
@media (max-width: 1439px) {
  .radio-block label::after {
    top: 3px;
  }
}
@media (max-width: 1439px) {
  .radio-block label {
    font-size: 12px;
  }
}
.radio-block input:checked + ::after {
  opacity: 1;
}

.play {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='49' viewBox='0 0 42 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.6331 24.9074L0.0598198 48.9097L0.0598219 0.905068L41.6331 24.9074Z' fill='%2353B5DF'/%3e%3c/svg%3e ");
  background-position: calc(50% + 5px) center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
  height: 145px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
  z-index: 5;
}
@media (max-width: 1279px) {
  .play {
    width: 80px;
    height: 80px;
    background-size: 30%;
  }
}
@media (max-width: 767px) {
  .play {
    width: 75px;
    height: 75px;
  }
}
.play:hover {
  transform: translate(-50%, -50%) scale(0.9);
}

.breadcrumbs {
  padding: 30px 0;
  position: relative;
  z-index: 3;
}
@media (max-width: 1279px) {
  .breadcrumbs {
    padding: 21px 0;
  }
}
.breadcrumbs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 37px;
}
@media (max-width: 767px) {
  .breadcrumbs ul {
    gap: 0 37px;
  }
}
.breadcrumbs li:first-child .breadcrumbs-link::before {
  display: none;
}
.breadcrumbs .breadcrumbs-link {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.breadcrumbs .breadcrumbs-link:hover {
  text-decoration-color: rgb(78, 84, 87);
}
.breadcrumbs .breadcrumbs-link::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  content: "/";
  left: -21px;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs span.breadcrumbs-link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: rgb(78, 84, 87);
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 48px;
  border-radius: 24px;
  font-variant-ligatures: none;
  font-family: "Radiotechnika";
  width: 100%;
  height: 87px;
}
@media (max-width: 1439px) {
  .btn {
    font-size: 20px;
  }
}
@media (max-width: 1279px) {
  .btn {
    padding: 5px 40px;
    height: 70px;
  }
}
@media (max-width: 1023px) {
  .btn {
    font-size: 16px;
    height: 60px;
    padding: 5px 35px;
  }
}
.btn--orange {
  border: solid 1px #fa4f19;
  background-color: #fa4f19;
  color: rgb(255, 255, 255);
}
@media (hover: hover) {
  .btn--orange:hover {
    background-color: rgb(255, 255, 255);
    color: #fa4f19;
  }
}
.btn--borderRed {
  border: solid 1px #fa4f19;
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.btn--black {
  border: solid 1px rgb(78, 84, 87);
  background-color: rgb(78, 84, 87);
  color: rgb(255, 255, 255);
}
h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: "Inter";
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 44px;
  line-height: 120%;
  font-family: "Radiotechnika";
  font-weight: 400;
}
@media (max-width: 1439px) {
  h1,
  .caption--h1 {
    font-size: 36px;
  }
}
@media (max-width: 1279px) {
  h1,
  .caption--h1 {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  h1,
  .caption--h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  h1,
  .caption--h1 {
    font-size: 24px;
  }
}

.header {
  font-size: 16px;
  line-height: 160%;
  padding: 30px 0;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
@media (max-width: 1439px) {
  .header {
    font-size: 12.5px;
  }
}
@media (max-width: 1279px) {
  .header {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 6px 0;
  }
}
.header .header-inner {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: rgb(26, 26, 28);
  padding: 13px;
  border-radius: 12px;
}
@media (max-width: 1439px) {
  .header .header-inner {
    justify-content: space-between;
  }
}
@media (max-width: 1279px) {
  .header .header-inner {
    padding: 12px;
  }
}
@media (max-width: 1279px) {
  .header .logo {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .header .logo {
    width: 78px;
  }
}
.header .header-menu {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1280px) {
  .header .header-menu {
    display: flex !important;
  }
}
@media (max-width: 1279px) {
  .header .header-menu {
    position: absolute;
    top: calc(100% - 16px);
    left: 0;
    display: none;
    background-color: rgb(26, 26, 28);
    padding: 20px 30px;
    width: 100%;
    align-items: flex-start;
  }
}
.header .header-link {
  padding: 12px 16px;
  border: solid 1px rgb(78, 84, 87);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  transition: all 0.3s;
  white-space: nowrap;
}
@media (max-width: 1279px) {
  .header .header-link {
    justify-content: center;
    font-size: 20px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
  }
}
.header .header-link.link-menu-catalog {
  border-color: #fa4f19;
  padding-left: 18px;
  padding-right: 18px;
  gap: 14px;
}
@media (hover: hover) {
  .header .header-link.link-menu-catalog:hover {
    background-color: #fa4f19;
    border-color: #fa4f19;
  }
  .header .header-link.link-menu-catalog:hover .link-menu-catalog____line {
    width: 100% !important;
  }
}
.header .header-link.header-link--arrow::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.843527 0.83504C0.606845 1.05975 0.606845 1.42409 0.843527 1.6488L6.47558 6.9961C6.94895 7.44553 7.71642 7.44553 8.18978 6.9961L13.8218 1.6488C14.0585 1.42409 14.0585 1.05976 13.8218 0.83504C13.5852 0.610326 13.2014 0.610326 12.9647 0.83504L7.33268 6.18234L1.70063 0.83504C1.46394 0.610325 1.08021 0.610325 0.843527 0.83504Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  position: relative;
}
@media (hover: hover) {
  .header .header-link.header-link--arrow:hover::after {
    transform: rotate(180deg);
  }
}
.header .header-link.link-phone, .header .header-link.link-mail {
  font-weight: 700;
  border-color: #fa4f19;
}
@media (max-width: 1279px) {
  .header .header-link.link-phone, .header .header-link.link-mail {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header .header-link.link-phone, .header .header-link.link-mail {
    margin-top: 4px;
  }
}
@media (hover: hover) {
  .header .header-link.link-phone:hover, .header .header-link.link-mail:hover {
    background-color: #fa4f19;
    border-color: #fa4f19;
  }
}
.header .header-link.burger-mobile {
  font-size: 16px;
}
.header .header-link.burger-mobile:hover {
  background-color: #fa4f19;
  border-color: #fa4f19;
}
@media (hover: hover) {
  .header .header-link:hover {
    background-color: #045afe;
    border-color: #045afe;
    color: rgb(255, 255, 255);
  }
}

.link-menu-catalog {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.link-menu-catalog .link-menu-catalog__burger {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  width: 12px;
}
.link-menu-catalog .link-menu-catalog____line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  display: block;
  transition: all 0.3s;
  overflow: hidden;
}
.link-menu-catalog .link-menu-catalog____line:nth-child(2) {
  width: 8px;
}
.link-menu-catalog .link-menu-catalog__text {
  transition: color 0.3s;
}

@media (max-width: 1279px) {
  .header-list {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.header-list .header-list__list {
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 1279px) {
  .header-list .header-list__list {
    flex-direction: column;
  }
}
@media (max-width: 1279px) {
  .header-list .header-list__item {
    width: 100%;
  }
}

.lang {
  position: relative;
  font-size: 15px;
}
@media (max-width: 767px) {
  .lang {
    margin-top: 4px;
  }
}
.lang .lang-current {
  cursor: pointer;
  gap: 8px;
  padding: 12px 16px;
  border: solid 1px rgb(78, 84, 87);
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
@media (max-width: 1279px) {
  .lang .lang-current {
    justify-content: center;
  }
}
@media (hover: hover) {
  .lang .lang-current:hover {
    border-color: #fa4f19;
  }
}
.lang .lang-current:hover + .lang-invis {
  display: block;
}
.lang .lang-current__flag {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  overflow: hidden;
}
.lang .lang__list {
  background-color: rgb(78, 84, 87);
  border-radius: 10px;
  width: 100%;
  padding: 8px 16px;
}
@media (max-width: 1279px) {
  .lang .lang__list {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
}
@media (max-width: 1279px) {
  .lang .lang__item {
    justify-content: center;
  }
}
.lang .lang__item + .lang__item {
  margin-top: 12px;
}
@media (max-width: 1279px) {
  .lang .lang__item + .lang__item {
    margin-top: 0;
  }
}
.lang .lang__item.active .lang__link::before {
  opacity: 1;
}
.lang .lang__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.lang .lang__link::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 6L6 11L16 1' stroke='%23FA4F19' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: relative;
  opacity: 0;
}
.lang .lang-flag {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  overflow: hidden;
}
.lang .lang-invis {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 5px;
  display: none;
}
@media (max-width: 1279px) {
  .lang .lang-invis {
    position: relative;
    top: auto;
  }
}
.lang .lang-invis:hover {
  display: block;
}

.burger-mobile {
  display: none !important;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .burger-mobile {
    display: flex !important;
    width: 115px;
    min-width: 115px;
    font-size: 16px;
  }
}
@media (max-width: 389px) {
  .burger-mobile {
    min-width: 56px;
    width: 56px;
    height: 48px;
    justify-content: center;
  }
}
.burger-mobile::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.3987 1.24246C20.7893 1.63298 20.7892 2.26615 20.3987 2.65668L11.9135 11.142L20.3994 19.6279C20.7899 20.0185 20.7899 20.6516 20.3994 21.0421C20.0089 21.4325 19.3757 21.4326 18.9852 21.0421L10.4992 12.5562L2.01397 21.0415C1.62344 21.432 0.990278 21.432 0.599754 21.0415C0.20953 20.6509 0.20933 20.0177 0.599754 19.6272L9.08503 11.142L0.600444 2.65737C0.209957 2.26688 0.210031 1.63369 0.600444 1.24315C0.990968 0.852629 1.62413 0.852629 2.01466 1.24315L10.4992 9.72774L18.9845 1.24246C19.375 0.852057 20.0082 0.852247 20.3987 1.24246Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fa4f19;
  transition: all 0.1s;
  opacity: 0;
}
.burger-mobile .burger-mobile__burger {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  width: 12px;
  transition: all 0.3s;
}
.burger-mobile .burger-mobile__line {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  display: block;
  transition: all 0.3s;
  overflow: hidden;
}
.burger-mobile .burger-mobile__text {
  transition: all 0.3s;
}
@media (max-width: 389px) {
  .burger-mobile .burger-mobile__text {
    display: none;
  }
}
.burger-mobile.opened .burger-mobile__burger {
  transform: translateX(-50px);
}
@media (max-width: 389px) {
  .burger-mobile.opened .burger-mobile__burger {
    transform: translateX(0);
    opacity: 0;
  }
}
.burger-mobile.opened .burger-mobile__text {
  transform: translateX(100px);
}
.burger-mobile.opened::before {
  opacity: 1;
}

.header-controls-mobile {
  display: none;
}
@media (max-width: 1279px) {
  .header-controls-mobile {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
.header-controls-mobile .header-controls-mobile__link {
  width: 56px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 1px #fa4f19;
  border-radius: 16px;
}
.header-controls-mobile .header-controls-mobile__link--phone {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 1.4375H7L9 6.4375L6.5 7.9375C7.57096 10.109 9.32847 11.8665 11.5 12.9375L13 10.4375L18 12.4375V16.4375C18 16.9679 17.7893 17.4766 17.4142 17.8517C17.0391 18.2268 16.5304 18.4375 16 18.4375C12.0993 18.2005 8.42015 16.544 5.65683 13.7807C2.8935 11.0173 1.23705 7.33824 1 3.4375C1 2.90707 1.21071 2.39836 1.58579 2.02329C1.96086 1.64821 2.46957 1.4375 3 1.4375Z' stroke='%23FA4F19' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}
.header-controls-mobile .header-controls-mobile__link--mail {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 3.4375C1 2.90707 1.21071 2.39836 1.58579 2.02329C1.96086 1.64821 2.46957 1.4375 3 1.4375H17C17.5304 1.4375 18.0391 1.64821 18.4142 2.02329C18.7893 2.39836 19 2.90707 19 3.4375M1 3.4375V13.4375C1 13.9679 1.21071 14.4766 1.58579 14.8517C1.96086 15.2268 2.46957 15.4375 3 15.4375H17C17.5304 15.4375 18.0391 15.2268 18.4142 14.8517C18.7893 14.4766 19 13.9679 19 13.4375V3.4375M1 3.4375L10 9.4375L19 3.4375' stroke='%23FA4F19' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.grettings-main {
  position: relative;
  padding: 0;
  width: 100%;
  height: 830px;
  z-index: 2;
}
@media (max-width: 1439px) {
  .grettings-main {
    height: 740px;
  }
}
@media (max-width: 1279px) {
  .grettings-main {
    height: 710px;
  }
}
@media (max-width: 767px) {
  .grettings-main {
    height: 100dvh;
  }
}

.grettings-main-slider {
  position: static;
  width: 100%;
  height: 100%;
}
.grettings-main-slider .swiper-wrapper {
  position: static;
}
.grettings-main-slider .swiper-slide {
  position: static;
  padding: 165px 0;
}
@media (max-width: 1439px) {
  .grettings-main-slider .swiper-slide {
    padding: 150px 0;
  }
}
@media (max-width: 767px) {
  .grettings-main-slider .swiper-slide {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 100px 0 14px;
  }
}
.grettings-main-slider .grettings-main__content {
  width: 555px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(148px);
  color: rgb(255, 255, 255);
  padding: 32px;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  transform: translateX(115px);
  font-size: 28px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 1439px) {
  .grettings-main-slider .grettings-main__content {
    width: 500px;
    transform: translateX(150px);
    font-size: 24px;
  }
}
@media (max-width: 1279px) {
  .grettings-main-slider .grettings-main__content {
    width: 470px;
    transform: translateX(120px);
    font-size: 20px;
  }
}
@media (max-width: 1023px) {
  .grettings-main-slider .grettings-main__content {
    transform: translateX(0);
    font-size: 18px;
    margin: 0 auto;
    width: 450px;
  }
}
@media (max-width: 767px) {
  .grettings-main-slider .grettings-main__content {
    width: 100%;
    font-size: 20px;
    padding: 16px;
    border-radius: 16px;
  }
}
.grettings-main-slider .caption {
  color: rgb(255, 255, 255);
}
.grettings-main-slider .btn {
  width: auto;
}
@media (max-width: 639px) {
  .grettings-main-slider .btn {
    width: 100%;
  }
}
.grettings-main-slider .picture-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.grettings-main-slider .picture-block img {
  object-position: top;
}
.grettings-main-slider .btnSwiper {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 88px;
  height: 88px;
  border-radius: 24px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .grettings-main-slider .btnSwiper {
    display: none;
  }
}
.grettings-main-slider .btnSwiper.btnSwiperPrev {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.7071 0.792893C11.3166 0.402369 10.6834 0.402369 10.2929 0.792893L0.999999 10.0858C0.218949 10.8668 0.218952 12.1332 1 12.9142L10.2929 22.2071C10.6834 22.5976 11.3166 22.5976 11.7071 22.2071C12.0976 21.8166 12.0976 21.1834 11.7071 20.7929L2.41421 11.5L11.7071 2.20711C12.0976 1.81658 12.0976 1.18342 11.7071 0.792893Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  left: 40px;
}
@media (max-width: 1439px) {
  .grettings-main-slider .btnSwiper.btnSwiperPrev {
    left: 12.5px;
  }
}
@media (max-width: 1279px) {
  .grettings-main-slider .btnSwiper.btnSwiperPrev {
    left: 20px;
  }
}
.grettings-main-slider .btnSwiper.btnSwiperNext {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L11 10.0858C11.7811 10.8668 11.781 12.1332 11 12.9142L1.70711 22.2071C1.31658 22.5976 0.683417 22.5976 0.292893 22.2071C-0.0976311 21.8166 -0.0976311 21.1834 0.292893 20.7929L9.58579 11.5L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  right: 40px;
}
@media (max-width: 1439px) {
  .grettings-main-slider .btnSwiper.btnSwiperNext {
    right: 12.5px;
  }
}
@media (max-width: 1279px) {
  .grettings-main-slider .btnSwiper.btnSwiperNext {
    right: 20px;
  }
}
.grettings-main-slider .swiper-bullets {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .grettings-main-slider .swiper-bullets {
    display: none;
  }
}
.grettings-main-slider .swiper-pagination {
  width: 300px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 11px;
  backdrop-filter: blur(28px);
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  padding: 0 32px;
}
.grettings-main-slider .swiper-pagination .swiper-pagination-bullet {
  height: 2px;
  width: 16px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  flex: initial;
}
.grettings-main-slider .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 0;
}
.grettings-main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.11);
}
.grettings-main-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  width: 100%;
  transition: all 5s;
}

/*# sourceMappingURL=style.css.map */
