.blog-block {
  padding: 30px 0;
}

.blog-block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .caption--h4 {
    @include responsive767{
      font-size: 24px;
    }
  }

  .swiper-controls {
  }

  .btnSwiperPrev {
  }

  .btnSwiperNext {
  }
}

.blog-block-slider {
  margin-top: 24px;

  .swiper-slide {
  }

  .blog-item {
  }
}
