.catalog {
  padding: 0;

  .assortment__link {
    @include responsive1279 {
      background-color: transparent;
    }
  }

  .catalog__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 900px;
    width: 100%;
    margin-top: 32px;
    font-size: 16px;

    @include responsive1279 {
      max-width: 700px;
    }

    @include responsive767 {
      font-size: 14px;
      gap: 15px;
    }

    a {
      text-decoration: underline;
      transition: text-decoration 0.3s;

      @include hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.catalog-section {
  padding: 15px 0;

  .catalog-section__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: solid 1px $colorBlack-a2;
    border-radius: 8px;

    @include responsive1279 {
      padding: 16px;
    }

    @include responsive767 {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  .catalog-section__caption {
    font-family: $fontRadiotechnika;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    max-width: 730px;
    width: 100%;

    @include responsive1279 {
      font-size: 20px;
      max-width: 570px;
    }

    @include responsive1023 {
      max-width: 480px;
    }

    @include responsive767 {
      width: 100%;
      max-width: 100%;
    }
  }

  .catalog-section__search {
    width: 334px;

    @include responsive1279 {
      width: 250px;
    }

    @include responsive767 {
      width: 100%;
    }

    .input-item {
      position: relative;

      input {
        border: solid 1px $colorBlack-a2;
        border-radius: 8px;
        color: $colorBlack;
        padding: 0 56px;
        height: 58px;
        font-family: $fontMain;
        text-transform: initial;
        font-size: 16px;
        background-position: 20px center;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19 19L13 13M1 8C1 8.91925 1.18106 9.82951 1.53284 10.6788C1.88463 11.5281 2.40024 12.2997 3.05025 12.9497C3.70026 13.5998 4.47194 14.1154 5.32122 14.4672C6.1705 14.8189 7.08075 15 8 15C8.91925 15 9.82951 14.8189 10.6788 14.4672C11.5281 14.1154 12.2997 13.5998 12.9497 12.9497C13.5998 12.2997 14.1154 11.5281 14.4672 10.6788C14.8189 9.82951 15 8.91925 15 8C15 7.08075 14.8189 6.1705 14.4672 5.32122C14.1154 4.47194 13.5998 3.70026 12.9497 3.05025C12.2997 2.40024 11.5281 1.88463 10.6788 1.53284C9.82951 1.18106 8.91925 1 8 1C7.08075 1 6.1705 1.18106 5.32122 1.53284C4.47194 1.88463 3.70026 2.40024 3.05025 3.05025C2.40024 3.70026 1.88463 4.47194 1.53284 5.32122C1.18106 6.1705 1 7.08075 1 8Z' stroke='%23FA4F19' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        background-repeat: no-repeat;

        @include responsive1279 {
          height: 50px;
          font-size: 14px;
        }

        &::placeholder {
          text-transform: initial;
        }
      }

      .btnClearSearch {
        display: none;
        cursor: pointer;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.8988 1.24246C21.2893 1.63297 21.2893 2.26614 20.8988 2.65667L12.4135 11.1419L20.8995 19.6279C21.29 20.0184 21.29 20.6516 20.8995 21.0421C20.509 21.4325 19.8758 21.4326 19.4853 21.0421L10.9993 12.5562L2.51403 21.0414C2.1235 21.432 1.49034 21.432 1.09981 21.0414C0.709589 20.6509 0.709388 20.0177 1.09981 19.6272L9.58509 11.1419L1.1005 2.65736C0.710017 2.26687 0.710091 1.63368 1.1005 1.24315C1.49103 0.852622 2.12419 0.852621 2.51472 1.24315L10.9993 9.72774L19.4846 1.24246C19.875 0.85205 20.5083 0.852239 20.8988 1.24246Z' fill='%234E5457' fill-opacity='0.3'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        @include responsive1279 {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .catalog-section__body {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
  }

  .catalog-section__left {
    width: 325px;
    padding: 24px;
    border: solid 1px $colorBlack-a2;
    border-radius: 8px;
    position: sticky;
    top: 8px;
    left: 0;
    z-index: 5;

    @include responsive1279 {
      width: 280px;
      padding: 16px;
    }

    @include responsive1023 {
      position: fixed;
      top: 0;
      left: -100%;
      transition: left 0.3s;
      background-color: $colorWhite;
      z-index: 11;
      padding: 0 16px 16px;
      max-height: 100dvh;
      overflow: auto;

      &.opened {
        left: 0;
      }
    }
  }

  .catalog-section__right {
    width: calc(100% - 325px - 8px);
    padding: 24px;
    border: solid 1px $colorBlack-a2;
    border-radius: 8px;
    flex: 1;

    @include responsive1279 {
      width: calc(100% - 280px - 8px);
      padding: 16px;
    }
  }

  .catalog-section__right-bottom {
    width: calc(100% - 325px - 8px);
    margin-left: auto;
    border: solid 1px $colorBlack-a2;
    border-radius: 8px;
    padding: 24px;

    @include responsive1279 {
      width: calc(100% - 280px - 8px);
      padding: 16px;
    }

    @include responsive1023 {
      width: 100%;
      margin: 0;
    }

    .catalog-text {
      padding: 0;
    }
  }

  .catalog-section__bottom {
    width: 100%;
    padding: 24px;
    border: solid 1px $colorBlack-a2;
    border-radius: 8px;
    margin-top: 8px;

    @include responsive1279 {
      padding: 16px;
    }

    .catalog-text {
      padding: 0;
    }

    .catalog-text__text {
    }
  }
}

.catalog-list {
  margin-top: 36px;

  & + .subcategories {
    margin-top: 46px;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  @include responsive1279 {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    .product-item {
      order: 4;
    
      @include responsive767{
        order: 3;
      }

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 2;
      }
    }
  }

  @include responsive639 {
    grid-template-columns: 1fr;
  }
}

.product-item {
  padding: 16px;
  background-color: $colorWhite-a5;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  border-radius: 24px;
  transition: all 0.3s;

  @include responsive1279 {
    font-size: 14px;
    line-height: 120%;
    box-shadow: 0px 0px 10px 5px $colorBlack-a1;
  }

  @include hover {
    background-color: $colorWhite;
    box-shadow: 0px 0px 10px 5px $colorBlack-a1;

    .picture-block {
      transform: scale(1.15);
    }

    .btn {
      background-color: $colorOrange;
      border-color: $colorOrange;
      opacity: 1;
    }

    .product-item__info {
      opacity: 1;
    }
  }

  .picture-block {
    width: 100%;
    height: 225px;
    transition: transform 0.3s;
    @include invisLink;

    @include responsive639 {
      height: 180px;
    }

    img {
      object-fit: contain;
    }
  }

  .product-item__name {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    min-height: 64px;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    transition: color 0.3s;

    @include responsive1279 {
      font-size: 18px;
      min-height: 48px;
      line-height: 120%;
    }

    @include hover {
      color: $colorOrange;
    }
  }

  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .btn {
    margin-top: 24px;
    width: 100%;
    font-family: $fontMain;
    height: 50px;
    font-size: 16px;
    opacity: 0.2;
    background-color: $colorBlack;
    border-color: $colorBlack;

    @include responsive1279 {
      background-color: $colorOrange;
      border-color: $colorOrange;
      opacity: 1;
    }

    @include hover {
      background-color: $colorWhite;
    }
  }
}

.product-item__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  opacity: 0.7;
  transition: opacity 0.3s;

  @include responsive1279 {
    opacity: 1;
  }

  li {
  }

  a {
    padding: 2px 8px;
    border: solid 2px #4e5457;
    border-radius: 10px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 4px;

    @include before {
      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.16675 5.99992L5.33341 10.1666L13.6667 1.83325' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 13px;
      height: 9px;
      display: none;
    }

    @include hover {
      background-color: $colorBlack-a2;
      border-color: transparent;
      color: $colorWhite;
    }
  }

  .active {
    background-color: $colorBlack-a2;
    border-color: transparent;
    color: $colorWhite;
    font-weight: 700;

    &::before {
      display: block;
    }
  }
}

.catalog-text {
  padding: 32px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  @include responsive1023 {
    font-size: 14px;
  }

  .catalog-text__text {
    columns: 2;
    margin-top: 12px;

    @include responsive639 {
      columns: initial;
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.catalog-list__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  margin-bottom: 12px;
}

.sort-block {
  font-size: 16px;
  line-height: 160%;
  position: relative;
  z-index: 3;
  display: inline-flex;

  &.opened {
    .sort-block__sort::before {
      transform: scale(1, -1);
    }
  }

  .sort-block__sort {
    position: relative;
    padding-right: 30px;
    cursor: pointer;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.213013 0.202243C-0.0710045 0.471901 -0.0710045 0.909102 0.213013 1.17876L6.97148 7.59551C7.53952 8.13483 8.46048 8.13483 9.02852 7.59551L15.787 1.17876C16.071 0.909103 16.071 0.471901 15.787 0.202244C15.503 -0.0674137 15.0425 -0.0674137 14.7585 0.202244L8 6.619L1.24153 0.202243C0.957515 -0.0674143 0.497031 -0.0674144 0.213013 0.202243Z' fill='%23111111'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
      right: 0;
      top: 3px;
    }
  }

  .sort-block__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $colorWhite;
    border-radius: 16px;
    padding: 16px;
    width: 220px;

    li {
    }

    a {
      @include text-decoration-hover($colorBlack);
    }
  }
}

.filter-mobile-button {
  display: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg id='SVGRepo_bgCarrier' stroke-width='0'%3e%3c/g%3e%3cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3e%3c/g%3e%3cg id='SVGRepo_iconCarrier'%3e%3cpath d='M17.9882 3H5.87976C4.25428 3 3.30773 4.8362 4.25068 6.16022L8.38005 11.9583C8.86259 12.6359 9.1219 13.447 9.1219 14.2788V18.3293C9.1219 19.8043 10.3176 21 11.7926 21C13.2676 21 14.4633 19.8043 14.4633 18.3293V14.3385C14.4633 13.4698 14.7461 12.6247 15.269 11.931L19.5854 6.20375C20.5787 4.88587 19.6385 3 17.9882 3Z' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 45px;
  height: 45px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 5px $colorBlack-a1;

  @include responsive1023 {
    display: block;
  }
}
