.subcategories {
  width: 100%;

  .subcategories__head {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .subcategories__caption {
    font-family: $fontMain;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;

    @include responsive1549 {
      font-size: 18px;
    }
  }
}

.subcategories-slider {
  margin-top: 16px;

  .swiper-slide {
    background-color: rgba(78, 84, 87, 0.05);
    border-radius: 8px;
    cursor: pointer;
    @include invisLink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    transition: background-color 0.3s;

    @include hover {
      background-color: rgba(78, 84, 87, 0.11);
    }
  }

  .picture-block {
    width: 100px;
    height: 96px;

    img {
      object-fit: contain;
    }
  }

  &.subcategories-slider--v2 {
    .swiper-slide {
      border-radius: 24px;
      color: $colorWhite;
      font-size: 20px;
      padding: 16px 24px;

      @include responsive1549 {
        font-size: 16px;
        padding: 12px 16px;
      }

      &.color1 {
        background-color: #6d9285;
      }

      &.color2 {
        background-color: #d47842;
      }

      &.color3 {
        background-color: #c5a37a;
      }
    }

    .picture-block {
      width: 64px;
      height: 64px;

      img {
        object-fit: contain;
      }
    }
  }
}
