.brand-main {
  .brand-main__inner {
    display: flex;
    justify-content: space-between;

    @include responsive767 {
      flex-direction: column;
    }
  }

  .brand-main__content {
    width: 652px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: $colorBlack-a6;

    @include responsive1279 {
      width: 45%;
    }

    @include responsive1023 {
      width: 50%;
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }

    @include responsive767 {
      font-size: 16px;
      width: 100%;
    }

    .btn{
      @include responsive767{
        display: none;
      }
    }
  }

  .caption {
    font-weight: 400;
    margin-bottom: 70px;
    color: $colorBlack;

    @include responsive1023 {
      margin-bottom: 20px;
    }
  }

  .caption__small {
  }

  .btn {
    width: 446px;
    margin-top: 24px;

    @include responsive1279 {
      width: 380px;
    }

    @include responsive1023 {
      width: 100%;
    }

    @include responsive767 {
      max-width: 100%;
    }
  }

  .brand-main__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 652px;
    border: 4px solid #d1cec4;
    border-radius: 24px;
    padding: 16px;

    @include responsive1279 {
      width: 45%;
    }

    @include responsive1023 {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive767 {
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 30px;
      padding: 3px 5px;
      border-width: 2px;
    }

    @include responsive479 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .picture-block {
      height: 110px;
      width: 100%;

      @include responsive1023 {
        height: 80px;
      }

      @include responsive767 {
        height: auto;
        padding-top: calc(200 / 320 * 100%);
      }

      img {
        object-fit: contain;
      }
    }
  }
}

.brand-main__btnMobile{
  display: none;

  @include responsive767{
    display: flex;
    width: 100%;
    max-width: 100%;
  }
}