.why-main {
}

.why-main__head {
  display: flex;
  justify-content: flex-end;

  .caption {
  }
}

.why-main__body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include responsive1449 {
    margin-top: 30px;
  }

  @include responsive1023 {
    gap: 15px;
  }

  @include responsive767 {
    margin-top: 20px;
  }
}

.why-item {
  color: $colorWhite-a6;
  border-radius: 24px;
  overflow: hidden;
  position: relative;

  .why-item__inner {
    display: flex;
    align-items: flex-start;
    padding: 44px 37px;
    gap: 100px;
    position: relative;
    transition: all 0.3s;
    width: 100%;

    @include responsive1449 {
      padding: 30px 25px;
    }

    @include responsive1279 {
      gap: 30px;
      padding: 24px;
    }

    @include responsive479 {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 16px;
    }
  }

  &:nth-child(1) {
    .why-item__inner {
      background-color: #3b6153;
    }

    @include hover {
      .why-item__inner {
        background-color: #467463;
      }
    }
  }

  &:nth-child(2) {
    background-color: #728962;

    @include hover {
      .why-item__inner {
        background-color: #819b6f;
      }
    }
  }

  &:nth-child(3) {
    .why-item__inner {
      background-color: #9b8644;
    }

    @include hover {
      .why-item__inner {
        background-color: #ab954b;
      }
    }
  }

  &:nth-child(4) {
    .why-item__inner {
      background-color: #82573f;
    }

    @include hover {
      .why-item__inner {
        background-color: #8d5e44;
      }
    }
  }

  @include hover {
    .why-item__media {
      opacity: 1;
      transform: scale(1.2) translateX(-10px);
    }
  }
}

.why-item__num {
  font-family: $fontRadiotechnika;
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  width: 100px;

  @include responsive1023 {
    font-size: 46px;
  }

  @include responsive767 {
    font-size: 36px;
  }

  @include responsive479 {
    font-size: 30px;
  }
}

.why-item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
  max-width: 600px;

  @include responsive1449 {
    gap: 15px;
  }

  @include responsive1279 {
    max-width: 500px;
  }

  @include responsive1023 {
    max-width: 430px;
    gap: 15px;
  }

  @include responsive767 {
    max-width: 470px;
  }

  @include responsive479 {
    max-width: 100%;
    width: 100%;
    gap: 20px;
  }

  .why-item__title {
    font-family: $fontRadiotechnika;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;

    @include responsive767 {
      font-size: 24px;
      line-height: 120%;
    }

    @include responsive479 {
      font-size: 22px;
    }
  }

  p {
    max-width: 552px;
    line-height: 160%;

    @include responsive479 {
      line-height: 120%;
      max-width: 100%;
    }
  }

  .btn {
    width: auto;
    background-color: rgba(0, 0, 0, 0.2);

    @include responsive767 {
      padding-left: 25px;
      padding-right: 25px;
    }

    &:hover {
      background-color: $colorOrange;
      border-color: $colorOrange;
    }
  }
}

.why-item__media {
  width: 650px;
  height: 100%;
  position: absolute;
  right: -260px;
  top: 0;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.3s;

  @include responsive1279 {
    width: 450px;
    right: -170px;
  }

  @include responsive479 {
    width: 250px;
    height: 160px;
    right: -80px;
    top: -50px;
    transform: scale(1.2) translateX(-10px);
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
    }
  }
}
