.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 48px;
  border-radius: 24px;
  font-variant-ligatures: none;
  font-family: $fontRadiotechnika;
  width: 100%;
  height: 87px;

  @include responsive1449 {
    font-size: 20px;
  }

  @include responsive1279 {
    padding: 5px 40px;
    height: 70px;
  }

  @include responsive1023 {
    font-size: 16px;
    height: 60px;
    padding: 5px 35px;
  }

  @include responsive767 {
  }

  &--orange {
    border: solid 1px $colorOrange;
    background-color: $colorOrange;
    color: $colorWhite;

    @include hover {
      background-color: $colorWhite;
      color: $colorOrange;
    }
  }

  &--borderRed {
    border: solid 1px $colorOrange;
    background-color: transparent;
    color: $colorWhite;

    &:hover {
      color: $colorWhite;
      background-color: $colorOrange;
    }
  }

  &--black {
    border: solid 1px $colorBlack-a2;
    background-color: $colorBlack-a2;
    color: $colorWhite;

    @include hover {
      background-color: $colorBlack;
      border-color: $colorBlack;

      &:after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L11 10.0858C11.7811 10.8668 11.781 12.1332 11 12.9142L1.70711 22.2071C1.31658 22.5976 0.683417 22.5976 0.292893 22.2071C-0.0976311 21.8166 -0.0976311 21.1834 0.292893 20.7929L9.58579 11.5L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='%23fff'/%3e%3c/svg%3e ") !important;
      }
    }
  }

  &--arrow {
    @include responsive767 {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include after {
      position: relative;
      top: -1px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 10px;
      margin-left: 15px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L11 10.0858C11.7811 10.8668 11.781 12.1332 11 12.9142L1.70711 22.2071C1.31658 22.5976 0.683417 22.5976 0.292893 22.2071C-0.0976311 21.8166 -0.0976311 21.1834 0.292893 20.7929L9.58579 11.5L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='white'/%3e%3c/svg%3e ");
    }

    @include hover {
      &:after {
        transform: translateX(5px);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='23' viewBox='0 0 12 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L11 10.0858C11.7811 10.8668 11.781 12.1332 11 12.9142L1.70711 22.2071C1.31658 22.5976 0.683417 22.5976 0.292893 22.2071C-0.0976311 21.8166 -0.0976311 21.1834 0.292893 20.7929L9.58579 11.5L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z' fill='%23fa4f19'/%3e%3c/svg%3e ");
      }
    }
  }

  &--white{
    background-color: $colorWhite;
    color: $colorBlack;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
