h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontMain;
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 44px;
  line-height: 120%;
  font-family: $fontRadiotechnika;
  font-weight: 400;

  @include responsive1549 {
    font-size: 36px;
  }

  @include responsive1279 {
    font-size: 32px;
  }

  @include responsive1023 {
    font-size: 30px;
  }

  @include responsive767 {
    font-size: 24px;
  }
}

h2,
.caption--h2 {
  font-size: 96px;
  font-weight: 400;
  line-height: 120%;
  font-family: $fontRadiotechnika;

  @include responsive1549 {
    font-size: 56px;
  }

  @include responsive1279 {
    font-size: 56px;
  }

  @include responsive1023 {
    font-size: 55px;
  }

  @include responsive767 {
    font-size: 55px;
  }

  @include responsive479 {
    font-size: 30px;
  }
}

h3,
.caption--h3 {
  font-size: 44px;
  line-height: 120%;
  font-family: $fontRadiotechnika;
  font-weight: 400;

  @include responsive1549 {
    font-size: 30px;
  }

  @include responsive1279 {
    font-size: 30px;
  }

  @include responsive1023 {
    font-size: 28px;
  }

  @include responsive767 {
    font-size: 24px;
  }

  @include responsive639 {
    font-size: 18px;
  }
}

h4,
.caption--h4 {
  font-size: 30px;
  line-height: 120%;

  @include responsive1549 {
    font-size: 28px;
  }

  @include responsive1279 {
    font-size: 24px;
  }

  @include responsive767 {
    font-size: 22px;
  }

  @include responsive479 {
    font-size: 18px;
  }

  @include responsive389 {
    font-size: 15px;
  }
}

.caption__small {
  font-size: 48px;
  line-height: 60px;
  display: block;
  font-weight: 400;

  @include responsive1549 {
    font-size: 32px;
    line-height: 40px;
  }

  @include responsive1279 {
    font-size: 32px;
    line-height: 48px;
  }

  @include responsive1023 {
    font-size: 30px;
    line-height: 40px;
  }

  @include responsive767 {
    font-size: 18px;
    line-height: 20px;
  }

  @include responsive479 {
  }
}
