.header {
  font-size: 16px;
  line-height: 160%;
  padding: 0;
  color: $colorWhite;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 12px 0;

  @include responsive1279 {
    padding: 8px 0;
  }

  .header-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    padding: 12px;
    border-radius: 12px;
    position: relative;
    border: solid 1px #b8b5ac;

    @include responsive1549 {
      justify-content: space-between;
      gap: 4px;
      padding: 6px;
    }

    @include responsive1279 {
      padding: 12px;
      gap: 8px;
    }
  }

  .logo {
    margin: 0 auto;

    @include responsive1549 {
      left: 10px;
    }

    @include responsive1279 {
      margin-left: auto;
      margin-right: 0;
      left: 0;
    }

    @include responsive767 {
      width: 78px;
    }
  }

  .header-menu {
    display: none;
    align-items: center;
    gap: 4px;

    .header-link {
      color: $colorDark;
    }

    .mobileDrop {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      position: relative;

      &.opened {
        &::after {
          transform: rotate(180deg);
        }
      }

      @include after {
        top: -1px;
        width: 12px;
        height: 15px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.01089 0.83504C0.774204 1.05975 0.774204 1.42409 1.01089 1.6488L6.64294 6.9961C7.1163 7.44553 7.88378 7.44553 8.35714 6.9961L13.9892 1.6488C14.2259 1.42409 14.2259 1.05976 13.9892 0.83504C13.7525 0.610326 13.3688 0.610326 13.1321 0.83504L7.50004 6.18234L1.86798 0.83504C1.6313 0.610325 1.24757 0.610325 1.01089 0.83504Z' fill='%23111111'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
      }
    }

    .header-block-drop {
      display: flex;
      justify-content: center;
      height: auto;
      flex-wrap: wrap;
      border-color: $colorBlack;

      &::after {
        display: none;
      }

      & + * {
        margin-top: 8px;
      }

      .header-drop-invis {
        width: 100%;
      }

      .header-drop-invis__list {
        display: flex;

        .header-drop-invis__item {
          display: flex;
          justify-content: center;
        }
      }
    }

    .lang {
      border: 0;

      .mobileDrop {
        border: solid 1px $colorBlack;
        border-radius: 8px;
      }

      .lang-current {
        border: 0;
        padding-top: 0;
        margin-top: 8px;
        color: $colorDark;
        padding-right: 0;
      }

      .lang__link {
        color: $colorDark;
      }
    }

    .invisProductCatalog {
      background-color: transparent;
      padding: 0;
    }

    @include responsiveMinWidth1280 {
      display: none !important;
    }

    @include responsive1279 {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background-color: #edeadf;
      width: 100%;
      align-items: flex-start;
      max-height: calc(100dvh - 10px);
      overflow: auto;
      padding: 100px 12px 12px;
      z-index: -1;
      border-radius: 8px;
    }
  }

  .header-link {
    padding: 12px 16px;
    border: solid 1px $colorBlack;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    transition: all 0.3s;
    white-space: nowrap;

    @include responsive1279 {
      justify-content: center;
      font-size: 20px;
      line-height: 160%;
      color: $colorWhite-a8;
    }

    &.link-menu-catalog {
      border-color: $colorOrange;
      padding-left: 18px;
      padding-right: 18px;
      gap: 14px;

      @include hover {
        background-color: $colorOrange;
        border-color: $colorOrange;

        .link-menu-catalog____line {
          width: 100% !important;
        }
      }
    }

    &.header-link--arrow {
      &.opened {
        .arrow {
          transform: rotate(180deg);
        }
      }

      .arrow {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.01089 0.83504C0.774204 1.05975 0.774204 1.42409 1.01089 1.6488L6.64294 6.9961C7.1163 7.44553 7.88378 7.44553 8.35714 6.9961L13.9892 1.6488C14.2259 1.42409 14.2259 1.05976 13.9892 0.83504C13.7525 0.610326 13.3688 0.610326 13.1321 0.83504L7.50004 6.18234L1.86798 0.83504C1.6313 0.610325 1.24757 0.610325 1.01089 0.83504Z' fill='%23111111'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 12px;
        position: relative;
        z-index: 3;
        transition: transform 0.3s;
      }

      @include hover {
        .arrow {
          transform: rotate(180deg);
        }
      }
    }

    &.link-phone,
    &.link-mail {
      font-weight: 700;
      border-color: $colorOrange;

      @include responsive1279 {
        font-size: 20px;
      }

      @include responsive767 {
        margin-top: 4px;
      }

      @include hover {
        background-color: $colorOrange;
        border-color: $colorOrange;
      }
    }

    &.burger-mobile {
      font-size: 16px;
      border-color: $colorOrange;

      &:hover {
        background-color: $colorOrange;
        border-color: $colorOrange;
      }
    }

    &.header-link--buy {
      @include hover {
        background-color: $colorBlue;
        border-color: $colorBlue;
        color: $colorWhite;
      }
    }

    &.burger-menu {
      border-color: $colorOrange;
    }

    @include hover {
      background-color: $colorOrange;
      border-color: $colorOrange;
      color: $colorWhite;
    }
  }
}

.link-menu-catalog {
  display: flex;
  align-items: center;
  cursor: pointer;

  .link-menu-catalog__burger {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
    width: 13px;
  }

  .link-menu-catalog____line {
    width: 100%;
    height: 2px;
    background-color: $colorDark;
    border-radius: 2px;
    display: block;
    transition: all 0.3s;
    overflow: hidden;

    &:nth-child(2) {
      width: 8px;
    }
  }

  .link-menu-catalog__text {
    transition: color 0.3s;
  }

  &.opened {
    background-color: $colorOrange;
    border-color: $colorOrange;
    color: $colorWhite;

    .link-menu-catalog__burger {
      .link-menu-catalog____line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(4.1px, 1.7px);
        }
        &:nth-child(2) {
          width: 0 !important;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(4.1px, -1.7px);
        }
      }
    }
  }
}

.header-list {
  @include responsive1279 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .header-list__list {
    display: flex;
    align-items: center;
    gap: 4px;

    @include responsive1279 {
      flex-direction: column;
    }
  }

  .header-list__item {
    position: relative;

    @include responsive1279 {
      width: 100%;
    }

    @include hover {
      .menu-sub {
        display: block;
      }
    }
  }
}

.lang-current__flag {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.lang-flag {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  overflow: hidden;
}

.lang {
  position: relative;
  font-size: 15px;

  @include responsive767 {
    margin-top: 4px;
  }

  @include hover {
    .lang-invis {
      display: block;
    }
  }

  .lang-current {
    cursor: pointer;
    gap: 8px;
    padding: 12px 16px;
    border: solid 1px $colorBlack;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    @include responsive1279 {
      justify-content: center;
    }

    @include hover {
      border-color: $colorOrange;
    }
  }

  .lang-current__text {
  }

  .lang__list {
    background-color: $colorWhite;
    border: solid 1px rgb(78, 84, 87);
    border-radius: 10px;
    width: 100%;
    padding: 8px 16px;

    @include responsive1279 {
      display: flex;
      justify-content: center;
      gap: 16px;
      padding: 16px;
    }
  }

  .lang__item {
    @include responsive1279 {
      justify-content: center;
      width: 50%;
      display: flex;
    }

    & + .lang__item {
      margin-top: 12px;

      @include responsive1279 {
        margin-top: 0;
        border-left: solid 1px $colorBlack;
      }
    }

    &.active {
      .lang__link {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .lang__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 6L6 11L16 1' stroke='%23FA4F19' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      position: relative;
      opacity: 0;
    }
  }

  .lang-invis {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 5px;
    display: none;

    @include responsive1279 {
      position: relative;
      top: auto;
    }

    &:hover {
      display: block;
    }
  }
}

.burger-mobile {
  display: none !important;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  color: $colorBlack !important;
  background-color: transparent !important;

  @include responsive1279 {
    display: flex !important;
    width: 115px;
    min-width: 115px;
    font-size: 16px;
  }

  @include before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='22' viewBox='0 0 21 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20.3987 1.24246C20.7893 1.63298 20.7892 2.26615 20.3987 2.65668L11.9135 11.142L20.3994 19.6279C20.7899 20.0185 20.7899 20.6516 20.3994 21.0421C20.0089 21.4325 19.3757 21.4326 18.9852 21.0421L10.4992 12.5562L2.01397 21.0415C1.62344 21.432 0.990278 21.432 0.599754 21.0415C0.20953 20.6509 0.20933 20.0177 0.599754 19.6272L9.08503 11.142L0.600444 2.65737C0.209957 2.26688 0.210031 1.63369 0.600444 1.24315C0.990968 0.852629 1.62413 0.852629 2.01466 1.24315L10.4992 9.72774L18.9845 1.24246C19.375 0.852057 20.0082 0.852247 20.3987 1.24246Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-color: $colorOrange;
    transition: all 0.1s;
    opacity: 0;
  }

  // @include hover {
  //   color: $colorWhite !important;

  //   .burger-mobile__burger {
  //     background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.66658 0.333008H13.6666V5.33301H8.66658V0.333008Z' fill='white'/%3e%3cpath d='M0.333252 8.66634H5.33325V13.6663H0.333252V8.66634Z' fill='white'/%3e%3cpath d='M8.66658 11.1663C8.66658 11.8294 8.92998 12.4653 9.39882 12.9341C9.86766 13.4029 10.5035 13.6663 11.1666 13.6663C11.8296 13.6663 12.4655 13.4029 12.9344 12.9341C13.4032 12.4653 13.6666 11.8294 13.6666 11.1663C13.6666 10.5033 13.4032 9.86741 12.9344 9.39857C12.4655 8.92973 11.8296 8.66634 11.1666 8.66634C10.5035 8.66634 9.86766 8.92973 9.39882 9.39857C8.92998 9.86741 8.66658 10.5033 8.66658 11.1663Z' fill='white'/%3e%3cpath d='M0.333252 2.83301C0.333252 3.16131 0.397917 3.4864 0.523553 3.78972C0.64919 4.09303 0.833339 4.36863 1.06549 4.60077C1.29763 4.83292 1.57323 5.01707 1.87654 5.14271C2.17986 5.26834 2.50495 5.33301 2.83325 5.33301C3.16156 5.33301 3.48665 5.26834 3.78996 5.14271C4.09327 5.01707 4.36887 4.83292 4.60102 4.60077C4.83317 4.36863 5.01731 4.09303 5.14295 3.78972C5.26859 3.4864 5.33325 3.16131 5.33325 2.83301C5.33325 2.5047 5.26859 2.17961 5.14295 1.8763C5.01731 1.57299 4.83317 1.29739 4.60102 1.06524C4.36887 0.833094 4.09327 0.648946 3.78996 0.523309C3.48665 0.397672 3.16156 0.333008 2.83325 0.333008C2.50495 0.333008 2.17986 0.397672 1.87654 0.523309C1.57323 0.648946 1.29763 0.833094 1.06549 1.06524C0.833339 1.29739 0.64919 1.57299 0.523553 1.8763C0.397917 2.17961 0.333252 2.5047 0.333252 2.83301Z' fill='white'/%3e%3c/svg%3e ");
  //   }
  // }

  .burger-mobile__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.66658 0.333008H13.6666V5.33301H8.66658V0.333008Z' fill='%23FA4F19'/%3e%3cpath d='M0.333252 8.66634H5.33325V13.6663H0.333252V8.66634Z' fill='%23FA4F19'/%3e%3cpath d='M8.66658 11.1663C8.66658 11.8294 8.92998 12.4653 9.39882 12.9341C9.86766 13.4029 10.5035 13.6663 11.1666 13.6663C11.8296 13.6663 12.4655 13.4029 12.9344 12.9341C13.4032 12.4653 13.6666 11.8294 13.6666 11.1663C13.6666 10.5033 13.4032 9.86741 12.9344 9.39857C12.4655 8.92973 11.8296 8.66634 11.1666 8.66634C10.5035 8.66634 9.86766 8.92973 9.39882 9.39857C8.92998 9.86741 8.66658 10.5033 8.66658 11.1663Z' fill='%23FA4F19'/%3e%3cpath d='M0.333252 2.83301C0.333252 3.16131 0.397917 3.4864 0.523553 3.78972C0.64919 4.09303 0.833339 4.36863 1.06549 4.60077C1.29763 4.83292 1.57323 5.01707 1.87654 5.14271C2.17986 5.26834 2.50495 5.33301 2.83325 5.33301C3.16156 5.33301 3.48665 5.26834 3.78996 5.14271C4.09327 5.01707 4.36887 4.83292 4.60102 4.60077C4.83317 4.36863 5.01731 4.09303 5.14295 3.78972C5.26859 3.4864 5.33325 3.16131 5.33325 2.83301C5.33325 2.5047 5.26859 2.17961 5.14295 1.8763C5.01731 1.57299 4.83317 1.29739 4.60102 1.06524C4.36887 0.833094 4.09327 0.648946 3.78996 0.523309C3.48665 0.397672 3.16156 0.333008 2.83325 0.333008C2.50495 0.333008 2.17986 0.397672 1.87654 0.523309C1.57323 0.648946 1.29763 0.833094 1.06549 1.06524C0.833339 1.29739 0.64919 1.57299 0.523553 1.8763C0.397917 2.17961 0.333252 2.5047 0.333252 2.83301Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  }

  .burger-mobile__line {
    width: 100%;
    height: 2px;
    background-color: $colorWhite-a8;
    border-radius: 2px;
    display: block;
    transition: all 0.3s;
    overflow: hidden;
  }

  .burger-mobile__text {
    transition: all 0.3s;
  }

  &.opened {
    &::before {
      opacity: 1;
    }
  }
}

.header-controls-mobile {
  display: none;

  // @include responsive1279 {
  //   display: flex;
  //   align-items: center;
  //   gap: 4px;
  // }

  .header-controls-mobile__link {
    width: 56px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px $colorOrange;
    border-radius: 16px;

    &--phone {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 1.4375H7L9 6.4375L6.5 7.9375C7.57096 10.109 9.32847 11.8665 11.5 12.9375L13 10.4375L18 12.4375V16.4375C18 16.9679 17.7893 17.4766 17.4142 17.8517C17.0391 18.2268 16.5304 18.4375 16 18.4375C12.0993 18.2005 8.42015 16.544 5.65683 13.7807C2.8935 11.0173 1.23705 7.33824 1 3.4375C1 2.90707 1.21071 2.39836 1.58579 2.02329C1.96086 1.64821 2.46957 1.4375 3 1.4375Z' stroke='%23FA4F19' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }

    &--mail {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 3.4375C1 2.90707 1.21071 2.39836 1.58579 2.02329C1.96086 1.64821 2.46957 1.4375 3 1.4375H17C17.5304 1.4375 18.0391 1.64821 18.4142 2.02329C18.7893 2.39836 19 2.90707 19 3.4375M1 3.4375V13.4375C1 13.9679 1.21071 14.4766 1.58579 14.8517C1.96086 15.2268 2.46957 15.4375 3 15.4375H17C17.5304 15.4375 18.0391 15.2268 18.4142 14.8517C18.7893 14.4766 19 13.9679 19 13.4375V3.4375M1 3.4375L10 9.4375L19 3.4375' stroke='%23FA4F19' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }
}

.menu-sub {
  position: absolute;
  top: 100%;
  left: 0;
  width: 221px;
  padding-top: 3px;
  display: none;

  @include responsive1279 {
    position: relative;
    top: 0;
    padding: 0;
    width: 100%;
    margin-top: 4px;
  }

  ul {
    padding: 8px;
    border-radius: 16px;
    border: solid 1px $colorBlack;
  }

  li {
  }

  a {
    transition: background-color 0.3s;
    padding: 12px 16px;
    border-radius: 10px;
    display: flex;
    color: $colorBlack;

    @include responsive1279 {
      font-size: 20px;
      text-align: center;
      justify-content: center;
    }

    @include hover {
      background-color: #313133;
    }
  }
}

.invisProductCatalog {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #4e5457;
  padding: 24px;
  border-radius: 40px;
  max-height: calc(100vh - 105px);
  overflow: auto;
  display: none;
  z-index: 9999;

  @include responsive1279 {
    position: relative;
    margin-top: 20px;
    max-height: initial;
    padding: 16px;
    gap: 12px;
  }

  @include responsive639 {
    padding: 16px;
    border-radius: 32px;
  }

  .invisProductCatalog__title {
    font-family: $fontRadiotechnika;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  .assortment__link {
    @include responsive1279 {
      background-color: transparent;
    }
  }

  .assortment__list--catalog {
    @include responsive639 {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive389 {
      grid-template-columns: 1fr;
    }

    .assortment__item {
      @include responsive639 {
        min-height: 175px;
      }

      .assortment__text {
        position: relative;
        padding-right: 20px;

        @include after {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909102 16.071 0.471901 16.071 0.202243 15.787C-0.0674144 15.503 -0.0674144 15.0425 0.202243 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='white'/%3e%3c/svg%3e ");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 8px;
          position: relative;
          width: 24px;
          height: 24px;
          display: none;
          min-width: 24px;

          @include responsive639 {
            display: block;
          }
        }
      }

      .picture-block {
        @include responsive639 {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: initial;

          img {
            object-fit: cover;
          }
        }
      }
    }
  }
}

.burger-catalog {
  cursor: pointer;
  position: relative;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  z-index: 2;
  width: 279px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  @include after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background-color: $colorOrange;
    border-radius: 10px;
    backdrop-filter: blur(44px);
  }

  @include before {
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: inherit;
    background: $colorOrange;
    border-color: $colorOrange;

    z-index: -1;

    mask: linear-gradient(white, white) padding-box,
      linear-gradient(white, white);
    -webkit-mask: linear-gradient(white, white) padding-box,
      linear-gradient(white, white);
    z-index: -1;
  }

  @include responsive1549 {
    width: 220px;
  }

  @include responsive1279 {
    display: none;
  }

  .burger-catalog__text {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @include before {
      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.5 7.16667V3C4.5 2.33696 4.76339 1.70107 5.23223 1.23223C5.70107 0.763392 6.33696 0.5 7 0.5C7.66304 0.5 8.29893 0.763392 8.76777 1.23223C9.23661 1.70107 9.5 2.33696 9.5 3V7.16667M2.27526 4.66667H11.7244C11.9647 4.66664 12.2022 4.71857 12.4206 4.81892C12.6389 4.91926 12.833 5.06563 12.9895 5.248C13.146 5.43037 13.2612 5.64443 13.3272 5.87549C13.3932 6.10655 13.4085 6.34915 13.3719 6.58667L12.3261 13.38C12.2353 13.9704 11.9361 14.5087 11.4828 14.8976C11.0294 15.2865 10.4517 15.5002 9.85443 15.5H4.14443C3.54726 15.5 2.96983 15.2862 2.51662 14.8973C2.06341 14.5085 1.76437 13.9702 1.6736 13.38L0.627764 6.58667C0.591238 6.34915 0.606505 6.10655 0.672519 5.87549C0.738533 5.64443 0.853732 5.43037 1.01022 5.248C1.16671 5.06563 1.36078 4.91926 1.57913 4.81892C1.79749 4.71857 2.03496 4.66664 2.27526 4.66667Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
    }

    @include after {
      display: block;
      background: rgba(255, 255, 255, 0.1);
      width: 14px;
      height: 60px;
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translateY(-50%) rotate(21deg);
      -webkit-animation: btn_shine 5s ease-in infinite;
      animation: btn_shine 5s ease-in infinite;
    }
  }

  &.opened {
  }

  @include hover {
    color: $colorOrange;
    border-color: $colorOrange;
    background-color: transparent;

    &::after {
      background-color: transparent;
    }

    &::before {
      opacity: 0;
    }

    .burger-catalog__text {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 7.16667V3C5 2.33696 5.26339 1.70107 5.73223 1.23223C6.20107 0.763392 6.83696 0.5 7.5 0.5C8.16304 0.5 8.79893 0.763392 9.26777 1.23223C9.73661 1.70107 10 2.33696 10 3V7.16667M2.77526 4.66667H12.2244C12.4647 4.66664 12.7022 4.71857 12.9206 4.81892C13.1389 4.91926 13.333 5.06563 13.4895 5.248C13.646 5.43037 13.7612 5.64443 13.8272 5.87549C13.8932 6.10655 13.9085 6.34915 13.8719 6.58667L12.8261 13.38C12.7353 13.9704 12.4361 14.5087 11.9828 14.8976C11.5294 15.2865 10.9517 15.5002 10.3544 15.5H4.64443C4.04726 15.5 3.46983 15.2862 3.01662 14.8973C2.56341 14.5085 2.26437 13.9702 2.1736 13.38L1.12776 6.58667C1.09124 6.34915 1.1065 6.10655 1.17252 5.87549C1.23853 5.64443 1.35373 5.43037 1.51022 5.248C1.66671 5.06563 1.86078 4.91926 2.07913 4.81892C2.29749 4.71857 2.53496 4.66664 2.77526 4.66667Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }
  }
}

.burger-menu {
  cursor: pointer;
  border-color: $colorOrange;
  width: 258px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: $colorBlack;

  @include responsive1549 {
    width: 220px;
  }

  @include responsive1279 {
    display: none !important;
  }

  .burger-menu__text {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @include before {
      position: relative;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.16658 0.333008H14.1666V5.33301H9.16658V0.333008Z' fill='%23FA4F19'/%3e%3cpath d='M0.833252 8.66634H5.83325V13.6663H0.833252V8.66634Z' fill='%23FA4F19'/%3e%3cpath d='M9.16658 11.1663C9.16658 11.8294 9.42998 12.4653 9.89882 12.9341C10.3677 13.4029 11.0035 13.6663 11.6666 13.6663C12.3296 13.6663 12.9655 13.4029 13.4344 12.9341C13.9032 12.4653 14.1666 11.8294 14.1666 11.1663C14.1666 10.5033 13.9032 9.86741 13.4344 9.39857C12.9655 8.92973 12.3296 8.66634 11.6666 8.66634C11.0035 8.66634 10.3677 8.92973 9.89882 9.39857C9.42998 9.86741 9.16658 10.5033 9.16658 11.1663Z' fill='%23FA4F19'/%3e%3cpath d='M0.833252 2.83301C0.833252 3.16131 0.897917 3.4864 1.02355 3.78972C1.14919 4.09303 1.33334 4.36863 1.56549 4.60077C1.79763 4.83292 2.07323 5.01707 2.37654 5.14271C2.67986 5.26834 3.00495 5.33301 3.33325 5.33301C3.66156 5.33301 3.98665 5.26834 4.28996 5.14271C4.59327 5.01707 4.86887 4.83292 5.10102 4.60077C5.33317 4.36863 5.51731 4.09303 5.64295 3.78972C5.76859 3.4864 5.83325 3.16131 5.83325 2.83301C5.83325 2.5047 5.76859 2.17961 5.64295 1.8763C5.51731 1.57299 5.33317 1.29739 5.10102 1.06524C4.86887 0.833094 4.59327 0.648946 4.28996 0.523309C3.98665 0.397672 3.66156 0.333008 3.33325 0.333008C3.00495 0.333008 2.67986 0.397672 2.37654 0.523309C2.07323 0.648946 1.79763 0.833094 1.56549 1.06524C1.33334 1.29739 1.14919 1.57299 1.02355 1.8763C0.897917 2.17961 0.833252 2.5047 0.833252 2.83301Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
    }
  }

  @include hover {
    .burger-menu__text::before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.66658 0.333008H13.6666V5.33301H8.66658V0.333008Z' fill='white'/%3e%3cpath d='M0.333252 8.66634H5.33325V13.6663H0.333252V8.66634Z' fill='white'/%3e%3cpath d='M8.66658 11.1663C8.66658 11.8294 8.92998 12.4653 9.39882 12.9341C9.86766 13.4029 10.5035 13.6663 11.1666 13.6663C11.8296 13.6663 12.4655 13.4029 12.9344 12.9341C13.4032 12.4653 13.6666 11.8294 13.6666 11.1663C13.6666 10.5033 13.4032 9.86741 12.9344 9.39857C12.4655 8.92973 11.8296 8.66634 11.1666 8.66634C10.5035 8.66634 9.86766 8.92973 9.39882 9.39857C8.92998 9.86741 8.66658 10.5033 8.66658 11.1663Z' fill='white'/%3e%3cpath d='M0.333252 2.83301C0.333252 3.16131 0.397917 3.4864 0.523553 3.78972C0.64919 4.09303 0.833339 4.36863 1.06549 4.60077C1.29763 4.83292 1.57323 5.01707 1.87654 5.14271C2.17986 5.26834 2.50495 5.33301 2.83325 5.33301C3.16156 5.33301 3.48665 5.26834 3.78996 5.14271C4.09327 5.01707 4.36887 4.83292 4.60102 4.60077C4.83317 4.36863 5.01731 4.09303 5.14295 3.78972C5.26859 3.4864 5.33325 3.16131 5.33325 2.83301C5.33325 2.5047 5.26859 2.17961 5.14295 1.8763C5.01731 1.57299 4.83317 1.29739 4.60102 1.06524C4.36887 0.833094 4.09327 0.648946 3.78996 0.523309C3.48665 0.397672 3.16156 0.333008 2.83325 0.333008C2.50495 0.333008 2.17986 0.397672 1.87654 0.523309C1.57323 0.648946 1.29763 0.833094 1.06549 1.06524C0.833339 1.29739 0.64919 1.57299 0.523553 1.8763C0.397917 2.17961 0.333252 2.5047 0.333252 2.83301Z' fill='white'/%3e%3c/svg%3e ");
    }
  }
}

.header-block-drop {
  display: flex;
  align-items: center;
  gap: 12px;
  border: solid 1px #b8b5ac;
  border-radius: 10px;
  padding: 15px 16px;
  color: $colorBlack;
  white-space: nowrap;
  height: 50px;
  position: relative;
  transition: border 0.3s, color 0.3s;

  @include after {
    width: 12px;
    height: 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0001 0.332957C15.2604 0.593307 15.2604 1.01542 15.0001 1.27577L8.80479 7.47103C8.28409 7.99173 7.43987 7.99173 6.91917 7.47103L0.723907 1.27577C0.463558 1.01542 0.463558 0.593306 0.723907 0.332957C0.984258 0.0726073 1.40637 0.0726073 1.66672 0.332957L7.86198 6.52822L14.0572 0.332957C14.3176 0.0726079 14.7397 0.0726079 15.0001 0.332957Z' fill='%234E5457'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }

  @include hover {
    color: $colorBlack;
    border-color: $colorBlack;

    .header-drop-invis {
      display: block;
    }
  }

  @include responsive1549 {
    padding: 12px 8px;
    font-size: 13px;
  }

  @include responsive1279 {
    display: none;
    font-size: 16px;
  }

  .lang-current {
    border-color: transparent !important;
    padding: 0;
  }
}

.header-drop-invis {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 5px;
  display: none;
  width: 100%;

  @include responsive1279 {
    position: relative;
    top: auto;
  }

  &:hover {
    display: block;
  }

  .header-drop-invis__list {
    background-color: $colorWhite;
    border: solid 1px $colorBlack;
    border-radius: 10px;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;

    @include responsive1279 {
      display: flex;
      justify-content: center;
      gap: 16px;
      padding: 16px;
    }
  }

  .header-drop-invis__item {
    width: 50%;
    text-align: center;

    @include responsive1279 {
      justify-content: center;
    }

    & + .header-drop-invis__item {
      border-left: solid 1px #4e5457;
    }
  }

  .header-drop-invis__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &.active {
      &::before {
        opacity: 1;
        display: block;
      }
    }

    @include hover {
      color: $colorOrange;
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 6L6 11L16 1' stroke='%23FA4F19' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      position: relative;
      opacity: 0;
      display: none;
    }
  }
}

.menu-invis {
  position: fixed;
  top: 0;
  right: -385px;
  width: 385px;
  height: 100dvh;
  background-color: #edeadf;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  overflow: auto;
  padding: 32px;
  z-index: 11;
  transition: right 0.3s;
  color: $colorDark;

  @include responsive1549 {
    padding: 24px;
  }

  @include responsive1279 {
    display: none;
  }

  &.opened {
    right: 0;
    box-shadow: 0px 0px 100px 0px #11111133;
  }

  .menu-invis__close {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.8035 0.867569C17.1289 1.19301 17.1289 1.72156 16.8035 2.047L9.73241 9.11807L16.8042 16.1898C17.1296 16.5153 17.1289 17.0431 16.8035 17.3686C16.478 17.6938 15.9508 17.6939 15.6254 17.3686L8.55367 10.2968L1.48329 17.3672C1.15786 17.6926 0.6293 17.6926 0.303863 17.3672C-0.0213302 17.0417 -0.0208028 16.5138 0.304553 16.1884L7.37493 9.11807L0.305244 2.04838C-0.0201252 1.72301 -0.0206799 1.19509 0.304553 0.86964C0.629875 0.544319 1.15783 0.543858 1.48329 0.86895L8.55367 7.93933L15.6247 0.868259C15.9501 0.542903 16.478 0.542375 16.8035 0.867569Z' fill='%23111111'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 32px;
    top: 32px;
    border-radius: 8px;
    transition: transform 0.3s;

    @include responsive1549 {
      width: 34px;
      height: 34px;
      background-size: 15px;
      right: 24px;
      top: 32px;
    }

    @include hover {
      transform: scale(0.9);
    }
  }

  .logo {
    width: 151px;
    height: 30px;
    margin: 7px 0;

    img.black {
      display: block;
    }

    img.light {
      display: none;
    }
  }

  .menu-invis-menu {
    margin-top: 40px;

    .menu-invis-menu__sub {
    }

    .menu-invis-menu__arrow {
      display: flex;
      align-items: center;
      gap: 20px;
      padding-right: 30px;
      position: relative;

      .arrow {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.511007 0.835528C0.274326 1.06024 0.274326 1.42458 0.511007 1.64929L6.14306 6.99659C6.61643 7.44602 7.3839 7.44602 7.85726 6.99659L13.4893 1.64929C13.726 1.42458 13.726 1.06024 13.4893 0.835529C13.2526 0.610814 12.8689 0.610814 12.6322 0.835529L7.00016 6.18282L1.36811 0.835528C1.13142 0.610814 0.747689 0.610814 0.511007 0.835528Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        width: 14px;
        height: 14px;
        position: relative;
        z-index: 3;
        transition: transform 0.3s;

        &.opened {
          transform: rotate(180deg);

          @include hover {
          }
        }
      }
    }

    li {
      & + li {
        margin-top: 10px;
      }

      a {
        transition: color 0.3s;

        @include hover {
          color: $colorOrange;
        }
      }
    }

    .sub {
      padding-left: 25px;
      padding-top: 8px;
      display: none;

      &:hover {
        display: block;
      }
    }
  }

  .menu-invis-catalog {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    .menu-invis-catalog__title {
      margin-bottom: 8px;
      display: block;
      width: 100%;
      grid-column: span 2;
    }

    .menu-invis-catalog__item {
      cursor: pointer;
      position: relative;
      border-radius: 10px;
      height: 64px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 8px;
      z-index: 2;
      outline: 1px solid transparent;
      @include invisLink;
      transition: all 0.3s;
      font-size: 15px;

      @include hover {
        outline-color: $colorOrange;

        .menu-invis-catalog__name {
          opacity: 1;
        }

        .picture-block {
          opacity: 1;
        }
      }

      .picture-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.4;
        transition: opacity 0.3s;

        img {
          object-fit: contain;
        }
      }

      &:nth-child(2) {
        background-color: #9eb6bb;
      }

      &:nth-child(3) {
        background-color: #d47842;
      }

      &:nth-child(4) {
        background-color: #6d7992;
      }

      &:nth-child(5) {
        background-color: #b79e4e;
      }

      &:nth-child(6) {
        background-color: #7d7b73;
      }

      &:nth-child(7) {
        background-color: #8fb18c;
      }
    }

    .menu-invis-catalog__name {
      transition: opacity 0.3s;
      color: $colorWhite;
      position: relative;
      display: flex;
      align-items: center;

      @include after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909102 16.071 0.471901 16.071 0.202243 15.787C-0.0674144 15.503 -0.0674144 15.0425 0.202243 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='white'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 8px;
        position: relative;
        width: 24px;
        height: 24px;
      }
    }
  }

  .menu-invis-contacts {
    margin-top: 40px;

    .menu-invis-contacts__title {
    }

    p {
      margin-top: 20px;
      padding-left: 40px;
      font-size: 16px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 9C6 9.79565 6.31607 10.5587 6.87868 11.1213C7.44129 11.6839 8.20435 12 9 12C9.79565 12 10.5587 11.6839 11.1213 11.1213C11.6839 10.5587 12 9.79565 12 9C12 8.20435 11.6839 7.44129 11.1213 6.87868C10.5587 6.31607 9.79565 6 9 6C8.20435 6 7.44129 6.31607 6.87868 6.87868C6.31607 7.44129 6 8.20435 6 9Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14.657 14.6567L10.414 18.8997C10.039 19.2743 9.53059 19.4848 9.0005 19.4848C8.47042 19.4848 7.96202 19.2743 7.587 18.8997L3.343 14.6567C2.22422 13.5379 1.46234 12.1124 1.15369 10.5606C0.845043 9.00873 1.00349 7.40022 1.60901 5.93844C2.21452 4.47665 3.2399 3.22725 4.55548 2.34821C5.87107 1.46918 7.41777 1 9 1C10.5822 1 12.1289 1.46918 13.4445 2.34821C14.7601 3.22725 15.7855 4.47665 16.391 5.93844C16.9965 7.40022 17.155 9.00873 16.8463 10.5606C16.5377 12.1124 15.7758 13.5379 14.657 14.6567Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: left center;
      background-repeat: no-repeat;

      @include responsive1549 {
        font-size: 14px;
      }
    }

    .btn {
      font-size: 16px;
      font-family: $fontMain;
      color: $colorOrange;
      border-color: $colorOrange;
      width: 100%;
      height: 50px;
      margin-top: 20px;
      background-color: transparent;

      @include after {
        position: relative;
        top: -1px;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px;
        margin-left: 15px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.835162 0.510519C1.05988 0.273837 1.42421 0.273837 1.64893 0.510519L6.99622 6.14258C7.44565 6.61594 7.44565 7.38341 6.99622 7.85677L1.64893 13.4888C1.42421 13.7255 1.05988 13.7255 0.835162 13.4888C0.610447 13.2521 0.610447 12.8684 0.835162 12.6317L6.18246 6.99967L0.835162 1.36762C0.610447 1.13094 0.610447 0.7472 0.835162 0.510519Z' fill='%23D74C21'/%3e%3c/svg%3e ");
      }

      @include hover {
        background-color: $colorOrange;
        color: $colorWhite;

        &::after {
          transform: translateX(5px);
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.835284 0.510519C1.06 0.273837 1.42433 0.273837 1.64905 0.510519L6.99634 6.14258C7.44577 6.61594 7.44577 7.38341 6.99634 7.85677L1.64905 13.4888C1.42433 13.7255 1.06 13.7255 0.835284 13.4888C0.610569 13.2521 0.610569 12.8684 0.835284 12.6317L6.18258 6.99967L0.835284 1.36762C0.610569 1.13094 0.610569 0.7472 0.835284 0.510519Z' fill='white'/%3e%3c/svg%3e ");
        }
      }
    }
  }

  .menu-invis-social {
    margin-top: 40px;

    .menu-invis-social__title {
    }

    .social {
      margin-top: 16px;

      ul {
        display: flex;
        align-items: center;
        gap: 16px;
      }

      a {
        transition: opacity 0.3s;
        opacity: 0.7;

        @include hover {
          opacity: 1;
        }
      }
    }
  }
}

body {
  &.index-page {
    .header {
      padding: 0;

      .header-inner {
        background-color: transparent;
        border: 0;
        padding: 12px 0;
      }
    }

    .header-block-drop {
      color: $colorWhite-a7;
      border: solid 1px #4e5457;

      &::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0001 0.333446C15.2604 0.593795 15.2604 1.01591 15.0001 1.27625L8.80479 7.47152C8.28409 7.99222 7.43987 7.99222 6.91917 7.47152L0.723907 1.27625C0.463558 1.0159 0.463558 0.593795 0.723907 0.333445C0.984258 0.0730956 1.40637 0.0730956 1.66672 0.333445L7.86198 6.52871L14.0572 0.333446C14.3176 0.0730962 14.7397 0.0730962 15.0001 0.333446Z' fill='white'/%3e%3c/svg%3e ");
      }

      @include hover {
        color: $colorWhite;
        border-color: $colorWhite;
      }
    }

    .header-drop-invis {
      .header-drop-invis__list {
        background-color: $colorBlack;
      }

      .header-drop-invis__item {
        & + .header-drop-invis__item {
          border-color: $colorWhite;
        }
      }

      .header-drop-invis__link {
      }
    }

    .burger-catalog {
      width: 300px;

      &::after {
        background-color: $colorDark;
      }

      &::before {
        background: linear-gradient(
          90deg,
          #fe4b01 0%,
          #f99d21 24.52%,
          #dbcc4f 59.62%,
          #8edf22 81.25%,
          #02bf7d 100%
        );
        background-size: 200% 100%;
        animation: gradientMove 5s linear infinite;
      }

      @include responsive1549 {
        width: 220px;
      }

      &.opened {
        color: $colorWhite;

        &::after {
          background-color: $colorOrange;
        }

        &::before {
          background: $colorOrange;
          border-color: $colorOrange;
        }

        .burger-catalog__text {
          &::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.5 7.16667V3C4.5 2.33696 4.76339 1.70107 5.23223 1.23223C5.70107 0.763392 6.33696 0.5 7 0.5C7.66304 0.5 8.29893 0.763392 8.76777 1.23223C9.23661 1.70107 9.5 2.33696 9.5 3V7.16667M2.27526 4.66667H11.7244C11.9647 4.66664 12.2022 4.71857 12.4206 4.81892C12.6389 4.91926 12.833 5.06563 12.9895 5.248C13.146 5.43037 13.2612 5.64443 13.3272 5.87549C13.3932 6.10655 13.4085 6.34915 13.3719 6.58667L12.3261 13.38C12.2353 13.9704 11.9361 14.5087 11.4828 14.8976C11.0294 15.2865 10.4517 15.5002 9.85443 15.5H4.14443C3.54726 15.5 2.96983 15.2862 2.51662 14.8973C2.06341 14.5085 1.76437 13.9702 1.6736 13.38L0.627764 6.58667C0.591238 6.34915 0.606505 6.10655 0.672519 5.87549C0.738533 5.64443 0.853732 5.43037 1.01022 5.248C1.16671 5.06563 1.36078 4.91926 1.57913 4.81892C1.79749 4.71857 2.03496 4.66664 2.27526 4.66667Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
          }
        }
      }

      .burger-catalog__text {
        &::before {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 7.16667V3C5 2.33696 5.26339 1.70107 5.73223 1.23223C6.20107 0.763392 6.83696 0.5 7.5 0.5C8.16304 0.5 8.79893 0.763392 9.26777 1.23223C9.73661 1.70107 10 2.33696 10 3V7.16667M2.77526 4.66667H12.2244C12.4647 4.66664 12.7022 4.71857 12.9206 4.81892C13.1389 4.91926 13.333 5.06563 13.4895 5.248C13.646 5.43037 13.7612 5.64443 13.8272 5.87549C13.8932 6.10655 13.9085 6.34915 13.8719 6.58667L12.8261 13.38C12.7353 13.9704 12.4361 14.5087 11.9828 14.8976C11.5294 15.2865 10.9517 15.5002 10.3544 15.5H4.64443C4.04726 15.5 3.46983 15.2862 3.01662 14.8973C2.56341 14.5085 2.26437 13.9702 2.1736 13.38L1.12776 6.58667C1.09124 6.34915 1.1065 6.10655 1.17252 5.87549C1.23853 5.64443 1.35373 5.43037 1.51022 5.248C1.66671 5.06563 1.86078 4.91926 2.07913 4.81892C2.29749 4.71857 2.53496 4.66664 2.77526 4.66667Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }
      }

      @include hover {
        color: $colorWhite;

        &::after {
          background-color: $colorOrange;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        &::before {
          background: $colorOrange;
          border-color: $colorOrange;
        }

        .burger-catalog__text {
          &::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.5 7.16667V3C4.5 2.33696 4.76339 1.70107 5.23223 1.23223C5.70107 0.763392 6.33696 0.5 7 0.5C7.66304 0.5 8.29893 0.763392 8.76777 1.23223C9.23661 1.70107 9.5 2.33696 9.5 3V7.16667M2.27526 4.66667H11.7244C11.9647 4.66664 12.2022 4.71857 12.4206 4.81892C12.6389 4.91926 12.833 5.06563 12.9895 5.248C13.146 5.43037 13.2612 5.64443 13.3272 5.87549C13.3932 6.10655 13.4085 6.34915 13.3719 6.58667L12.3261 13.38C12.2353 13.9704 11.9361 14.5087 11.4828 14.8976C11.0294 15.2865 10.4517 15.5002 9.85443 15.5H4.14443C3.54726 15.5 2.96983 15.2862 2.51662 14.8973C2.06341 14.5085 1.76437 13.9702 1.6736 13.38L0.627764 6.58667C0.591238 6.34915 0.606505 6.10655 0.672519 5.87549C0.738533 5.64443 0.853732 5.43037 1.01022 5.248C1.16671 5.06563 1.36078 4.91926 1.57913 4.81892C1.79749 4.71857 2.03496 4.66664 2.27526 4.66667Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
          }
        }
      }
    }

    .burger-menu {
      color: $colorWhite;

      .burger-menu__text {
        &:before {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.6668 3.3335H16.6668V8.3335H11.6668V3.3335Z' fill='white'/%3e%3cpath d='M3.3335 11.6668H8.3335V16.6668H3.3335V11.6668Z' fill='white'/%3e%3cpath d='M11.6668 14.1668C11.6668 14.8299 11.9302 15.4658 12.3991 15.9346C12.8679 16.4034 13.5038 16.6668 14.1668 16.6668C14.8299 16.6668 15.4658 16.4034 15.9346 15.9346C16.4034 15.4658 16.6668 14.8299 16.6668 14.1668C16.6668 13.5038 16.4034 12.8679 15.9346 12.3991C15.4658 11.9302 14.8299 11.6668 14.1668 11.6668C13.5038 11.6668 12.8679 11.9302 12.3991 12.3991C11.9302 12.8679 11.6668 13.5038 11.6668 14.1668Z' fill='white'/%3e%3cpath d='M3.3335 5.8335C3.3335 6.1618 3.39816 6.48689 3.5238 6.7902C3.64943 7.09352 3.83358 7.36912 4.06573 7.60126C4.29788 7.83341 4.57347 8.01756 4.87679 8.1432C5.1801 8.26883 5.50519 8.3335 5.8335 8.3335C6.1618 8.3335 6.48689 8.26883 6.7902 8.1432C7.09352 8.01756 7.36912 7.83341 7.60126 7.60126C7.83341 7.36912 8.01756 7.09352 8.1432 6.7902C8.26883 6.48689 8.3335 6.1618 8.3335 5.8335C8.3335 5.50519 8.26883 5.1801 8.1432 4.87679C8.01756 4.57347 7.83341 4.29788 7.60126 4.06573C7.36912 3.83358 7.09352 3.64943 6.7902 3.5238C6.48689 3.39816 6.1618 3.3335 5.8335 3.3335C5.50519 3.3335 5.1801 3.39816 4.87679 3.5238C4.57347 3.64943 4.29788 3.83358 4.06573 4.06573C3.83358 4.29788 3.64943 4.57347 3.5238 4.87679C3.39816 5.1801 3.3335 5.50519 3.3335 5.8335Z' fill='white'/%3e%3c/svg%3e ");
        }
      }
    }

    .lang {
      .lang-current {
        border: solid 1px $colorBlack;
      }

      .lang__list {
        background-color: $colorBlack;
      }

      .lang__item {
        & + .lang__item {
          @include responsive1279 {
            border-color: $colorWhite;
          }
        }
      }

      .lang-invis {
      }
    }

    .burger-mobile {
      color: $colorWhite !important;

      .burger-mobile__burger {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.66658 0.333008H13.6666V5.33301H8.66658V0.333008Z' fill='white'/%3e%3cpath d='M0.333252 8.66634H5.33325V13.6663H0.333252V8.66634Z' fill='white'/%3e%3cpath d='M8.66658 11.1663C8.66658 11.8294 8.92998 12.4653 9.39882 12.9341C9.86766 13.4029 10.5035 13.6663 11.1666 13.6663C11.8296 13.6663 12.4655 13.4029 12.9344 12.9341C13.4032 12.4653 13.6666 11.8294 13.6666 11.1663C13.6666 10.5033 13.4032 9.86741 12.9344 9.39857C12.4655 8.92973 11.8296 8.66634 11.1666 8.66634C10.5035 8.66634 9.86766 8.92973 9.39882 9.39857C8.92998 9.86741 8.66658 10.5033 8.66658 11.1663Z' fill='white'/%3e%3cpath d='M0.333252 2.83301C0.333252 3.16131 0.397917 3.4864 0.523553 3.78972C0.64919 4.09303 0.833339 4.36863 1.06549 4.60077C1.29763 4.83292 1.57323 5.01707 1.87654 5.14271C2.17986 5.26834 2.50495 5.33301 2.83325 5.33301C3.16156 5.33301 3.48665 5.26834 3.78996 5.14271C4.09327 5.01707 4.36887 4.83292 4.60102 4.60077C4.83317 4.36863 5.01731 4.09303 5.14295 3.78972C5.26859 3.4864 5.33325 3.16131 5.33325 2.83301C5.33325 2.5047 5.26859 2.17961 5.14295 1.8763C5.01731 1.57299 4.83317 1.29739 4.60102 1.06524C4.36887 0.833094 4.09327 0.648946 3.78996 0.523309C3.48665 0.397672 3.16156 0.333008 2.83325 0.333008C2.50495 0.333008 2.17986 0.397672 1.87654 0.523309C1.57323 0.648946 1.29763 0.833094 1.06549 1.06524C0.833339 1.29739 0.64919 1.57299 0.523553 1.8763C0.397917 2.17961 0.333252 2.5047 0.333252 2.83301Z' fill='white'/%3e%3c/svg%3e ");
      }
    }

    .header-menu {
      @include responsive1279 {
        background-color: $colorDark;
      }

      .header-block-drop {
        color: $colorWhite;
      }

      .link-menu-catalog {
        .link-menu-catalog____line {
          background-color: $colorWhite-a8;
        }
      }

      .header-link {
        color: $colorWhite;

        &.header-link--arrow {
          .arrow {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.01089 0.83504C0.774204 1.05975 0.774204 1.42409 1.01089 1.6488L6.64294 6.9961C7.1163 7.44553 7.88378 7.44553 8.35714 6.9961L13.9892 1.6488C14.2259 1.42409 14.2259 1.05976 13.9892 0.83504C13.7525 0.610326 13.3688 0.610326 13.1321 0.83504L7.50004 6.18234L1.86798 0.83504C1.6313 0.610325 1.24757 0.610325 1.01089 0.83504Z' fill='%23fff'/%3e%3c/svg%3e ");
          }
        }
      }

      .mobileDrop {
        &:after {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.0001 0.333446C15.2604 0.593795 15.2604 1.01591 15.0001 1.27625L8.80479 7.47152C8.28409 7.99222 7.43987 7.99222 6.91917 7.47152L0.723907 1.27625C0.463558 1.0159 0.463558 0.593795 0.723907 0.333445C0.984258 0.0730956 1.40637 0.0730956 1.66672 0.333445L7.86198 6.52871L14.0572 0.333446C14.3176 0.0730962 14.7397 0.0730962 15.0001 0.333446Z' fill='white'/%3e%3c/svg%3e ");
        }
      }

      .lang {
        .mobileDrop {
          border-color: $colorBlack;
        }

        .lang-current {
          color: $colorWhite;
        }

        .lang__link {
          color: $colorWhite;
        }
      }

      .invisProductCatalog {
        background-color: #4e5457;
      }
    }

    .invisProductCatalog {
      box-shadow: 0px 0px 100px 0px #fa4f1980;
    }

    .menu-sub ul {
      background-color: $colorBlack;

      a {
        color: $colorWhite;
      }
    }

    .overlay {
      background-color: $colorDark;
    }

    .menu-invis {
      background-color: $colorDark;
      color: $colorWhite;

      &.opened {
        box-shadow: 0px 0px 100px 0px #fa4f1980;
      }

      .menu-invis__close {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.2494 0.868545C17.5748 1.19398 17.5748 1.72254 17.2494 2.04798L10.1783 9.11904L17.2501 16.1908C17.5755 16.5162 17.5748 17.0441 17.2494 17.3695C16.924 17.6948 16.3967 17.6949 16.0714 17.3695L8.9996 10.2978L1.92922 17.3682C1.60378 17.6936 1.07522 17.6936 0.749786 17.3682C0.424593 17.0427 0.42512 16.5148 0.750476 16.1894L7.82085 9.11904L0.751167 2.04936C0.425798 1.72399 0.425243 1.19607 0.750476 0.870617C1.0758 0.545295 1.60375 0.544834 1.92922 0.869926L8.9996 7.9403L16.0707 0.869236C16.396 0.54388 16.9239 0.543352 17.2494 0.868545Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
        background-color: $colorWhite-a11;
      }

      .logo {
        img.black {
          display: none;
        }

        img.light {
          display: block;
        }
      }

      .menu-invis-catalog {
        .menu-invis-catalog__title {
          opacity: 0.3;
        }

        .menu-invis-catalog__name {
          opacity: 0.3;
        }
      }

      .menu-invis-menu {
        margin-top: 40px;

        .menu-invis-menu__arrow {
          .arrow {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.511007 0.835528C0.274326 1.06024 0.274326 1.42458 0.511007 1.64929L6.14306 6.99659C6.61643 7.44602 7.3839 7.44602 7.85726 6.99659L13.4893 1.64929C13.726 1.42458 13.726 1.06024 13.4893 0.835529C13.2526 0.610814 12.8689 0.610814 12.6322 0.835529L7.00016 6.18282L1.36811 0.835528C1.13142 0.610814 0.747689 0.610814 0.511007 0.835528Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
          }
        }
      }

      .menu-invis-contacts {
        .menu-invis-contacts__title {
          opacity: 0.3;
        }

        p {
          color: $colorWhite-a5;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 9C6 9.79565 6.31607 10.5587 6.87868 11.1213C7.44129 11.6839 8.20435 12 9 12C9.79565 12 10.5587 11.6839 11.1213 11.1213C11.6839 10.5587 12 9.79565 12 9C12 8.20435 11.6839 7.44129 11.1213 6.87868C10.5587 6.31607 9.79565 6 9 6C8.20435 6 7.44129 6.31607 6.87868 6.87868C6.31607 7.44129 6 8.20435 6 9Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14.657 14.6567L10.414 18.8997C10.039 19.2743 9.53059 19.4848 9.0005 19.4848C8.47042 19.4848 7.96202 19.2743 7.587 18.8997L3.343 14.6567C2.22422 13.5379 1.46234 12.1124 1.15369 10.5606C0.845043 9.00873 1.00349 7.40022 1.60901 5.93844C2.21452 4.47665 3.2399 3.22725 4.55548 2.34821C5.87107 1.46918 7.41777 1 9 1C10.5822 1 12.1289 1.46918 13.4445 2.34821C14.7601 3.22725 15.7855 4.47665 16.391 5.93844C16.9965 7.40022 17.155 9.00873 16.8463 10.5606C16.5377 12.1124 15.7758 13.5379 14.657 14.6567Z' stroke='%23FA4F19' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
        }

        .btn {
          background-color: transparent;
          border-color: $colorWhite;
          color: $colorWhite;

          &:after {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.835284 0.510519C1.06 0.273837 1.42433 0.273837 1.64905 0.510519L6.99634 6.14258C7.44577 6.61594 7.44577 7.38341 6.99634 7.85677L1.64905 13.4888C1.42433 13.7255 1.06 13.7255 0.835284 13.4888C0.610569 13.2521 0.610569 12.8684 0.835284 12.6317L6.18258 6.99967L0.835284 1.36762C0.610569 1.13094 0.610569 0.7472 0.835284 0.510519Z' fill='white'/%3e%3c/svg%3e ");
          }

          @include hover {
            background-color: $colorWhite;
            color: $colorBlack;

            &::after {
              background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.835284 0.510519C1.06 0.273837 1.42433 0.273837 1.64905 0.510519L6.99634 6.14258C7.44577 6.61594 7.44577 7.38341 6.99634 7.85677L1.64905 13.4888C1.42433 13.7255 1.06 13.7255 0.835284 13.4888C0.610569 13.2521 0.610569 12.8684 0.835284 12.6317L6.18258 6.99967L0.835284 1.36762C0.610569 1.13094 0.610569 0.7472 0.835284 0.510519Z' fill='%234e5457'/%3e%3c/svg%3e ");
            }
          }
        }
      }

      .menu-invis-social {
        .menu-invis-social__title {
          opacity: 0.3;
        }
      }
    }
  }
}
